<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334913922565-9d5amgiqu27pl3v6rniiq7tmbjjupa2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334913922565-9d5amgiqu27pl3v6rniiq7tmbjjupa2d</string>
	<key>API_KEY</key>
	<string>AIzaSyBUopl8LBh2cIB9hJjg1rJbcR_FhbXMeV4</string>
	<key>GCM_SENDER_ID</key>
	<string>334913922565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pongo.GenerateLocation</string>
	<key>PROJECT_ID</key>
	<string>kalabule-832bd</string>
	<key>STORAGE_BUCKET</key>
	<string>kalabule-832bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334913922565:ios:c50f6bb670f115e6f8de6c</string>
	<key>DATABASE_URL</key>
	<string>https://kalabule-832bd.firebaseio.com</string>
</dict>
</plist>